#main {
	float: left;
	width: 66%;
}

#sidebar-1 {
	float: left;
	width: 49%;
}

#main-content {
	float: right;
	width: 50%;
}

#sidebar-2 {
	float: right;
	width: 33%;
}

.main-content-padding {
	padding-right: 0px
}

.sidebar-1-padding {
	padding-left: 5px;
}

.sidebar-2-padding {
	padding-left: 0px;
	padding-right: 5px;
}