.portlet-header {
	background: #334f82 url(/resources/theme-zen/images/color-blue/portlet-header-bg.gif) repeat-x top left;
}

#main-navigation #main-navigation-active {
	background-image:url("/resources/theme-zen/images/color-blue/main-navigation-active-left.gif");
}
	
#main-navigation #main-navigation-active a {
	background-image:url("/resources/theme-zen/images/color-blue/main-navigation-active-right.gif");
}
