.portlet-header {
	background: #75b93e; /* color */
}

.portlet {
	border: 1px solid #75b93e; /* color */
}

#main-navigation #active {
	background-image:url("/resources/theme-zen/images/navigation/green/left_on.gif");
}
	
#main-navigation #active a {
	background-image:url("/resources/theme-zen/images/navigation/green/right_on.gif");
}
